.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  box-shadow: 1px 5px 5px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 5px 5px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 5px 5px -8px rgba(0, 0, 0, 0.75);
  &__logo {
    width: 100px;
    height: 100px;
    background-image: url('https://livejones.com/wp-content/uploads/2020/05/logo-Placeholder.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
