<div class="content-container">
  <h1>Daily Forecast of Cities</h1>
  <nx-test-weather-forecast-loading [isLoading]="!(loaded$ | async)" ></nx-test-weather-forecast-loading>
  <span *ngIf="dailyError$ | async" class="error">{{dailyError$ | async}}</span>
  <ng-template #noData >
    <span *ngIf="(loaded$ | async)" >Please search</span>
  </ng-template>
  <table *ngIf="(dailyForecastData | async)?.length != 0; else noData" [ngClass]="{enabled: loaded$ | async}" class="content-container__table">
    <thead>
    <tr>
      <th>City Name</th>
      <th>Mo</th>
      <th>Tu</th>
      <th>We</th>
      <th>Th</th>
      <th>Fr</th>
      <th>Sa</th>
      <th>Su</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cityList of dailyForecastData | async" >
      <td>{{cityList.cityName}}</td>
      <td *ngFor="let data of cityList.forecasts" >{{data.temperature}}</td>
    </tr>
    </tbody>
  </table>
</div>
