<div class="search-container">
  <input (input)="search($event)" name="cityName" placeholder="search by city name" [value]="cityName">
  <div style="display: flex;justify-content: space-between; flex-direction: column">
    <div class="search-container__input-wrapper">
      <input (change)="switchTable(true)" [checked]="isDaily" value="true" type="radio" name="isDaily">
      <label>daily</label>
    </div>
    <div  class="search-container__input-wrapper">
      <input (change)="switchTable(false)" [checked]="!isDaily" value="false" type="radio" name="isDaily">
      <label>hourly</label>
    </div>
  </div>
</div>
