<div class="content-container">
  <h1>Houry Forecast of Cities</h1>
  <nx-test-weather-forecast-loading [isLoading]="!(loaded$ | async)" ></nx-test-weather-forecast-loading>
  <span *ngIf="(hourlyError$ | async) && (loaded$ | async)" class="error">{{hourlyError$ | async}}</span>
  <ng-template #noData >
    <span *ngIf="(loaded$ | async)" >Please search</span>
  </ng-template>
  <table *ngIf="(hourlyForecastData$ | async)?.length != 0; else noData" class="content-container__table">
    <thead>
    <tr>
      <th>City Name</th>
      <th *ngFor="let hour of hours" >{{hour}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cityList of hourlyForecastData$ | async" >
      <td>{{cityList.cityName}}</td>
      <td *ngFor="let data of cityList.forecasts" >{{data.temperature}}</td>
    </tr>
    </tbody>
  </table>
</div>
