@mixin table-cell {
  text-align: center;
  vertical-align: middle;
  padding: 10px 15px;
  border: 1px solid #000;
}

.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__table {
    //width: 60%;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 40px;
    border-collapse: collapse;
    tr td:first-child {
      font-weight: bold;
    }
    th {
      @include table-cell;
    }

    td {
      @include table-cell;
    }
  }
}
.enabled {
  opacity: 1;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 18px;
}

